<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.exercise.excel.ExcelMapper">

    <update id="upload" parameterType="java.util.List">
        UPDATE excel
        set status=1
        where status !=1 and id in (
        <foreach collection="list" item="item" index="index" open="" close="" separator=",">
            #{item}
        </foreach>
        )
    </update>

    <select id="getList" resultType="cn.com.exercise.excel.ExcelCondition" parameterType="cn.com.exercise.excel.ExcelCondition">
        select * from excel
        <where>
            <if test="status!=null">
                status=#{status}
            </if>
        </where>
    </select>
</mapper>