<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.exercise.excel.ExcelMapper">

    <select id="getList" resultType="cn.com.exercise.excel.ExcelCondition" parameterType="cn.com.exercise.excel.ExcelCondition">
        select * from excel
        <where>
            <if test="status!=null">
                status=#{status}
            </if>
        </where>
    </select>

    <insert id="upload" parameterType="java.util.List" >
        insert into excel (excel1,excel2,excel3,status) VALUES
        <foreach collection="list" index="index" item="item" separator=",">
              (#{item.excel1},#{item.excel2},#{item.excel3},#{item.status})
        </foreach>
    </insert>


</mapper>
